# http://editorconfig.org

root = true

# public/styles
[public/styles/*]
charset = utf-8

# public/views
[public/views/*]
charset = utf-8

# client code
[src/client/*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# common part
[src/common/*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# server stuff
[src/server/*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[Makefile]
indent_style = tab

# src/vendor is a bower directory, it should be intact!
